/raw_corpus_architecturalstructure4To6Prop_v3.bin
/raw_corpus_dam4To6Prop_v1.bin
/raw_corpus_film4To6Prop_v1.bin
/raw_corpus_food4To6Prop_v1.bin
/raw_corpus_manga4To6Prop_v2.bin
/raw_corpus_single4To6Prop_v1.bin
